h1{font-size: 20px;
font-family: 'Montserra''sans serif';
text-align: center;
border: solid gray;}

h2{font-size: 15px;
font-weight: bolder;
font-family :Verdana, Geneva, Tahoma, sans-serif;}

.monprojet{font-size: 50px;}

.portfolio{font-size: 50px;}

.Paragraphe{
border-right: 1px  #8e86b5 solid;
border-bottom: 1px #8e86b5 solid;
border-left: 3px orange solid;
border-top: 3px darkblue solid;
}

.Compétences{
border-right: 1px #8e86b5 solid;
border-bottom: 1px #8e86b5 solid;
border-left: 5px red dashed;
border-top: 5px brown dotted;}