nav{border: 5px solid #000000; /* bordure de texte*/
    border-radius: 50% 50%; /* modification d'angle de bordure*/
background-color: bisque; /* couleur de fond */
font-size: large; /* modifie la taile du texte */
font-weight: bold; /* modifie le texte en gras */

}
.recherche li{display: inline-block; /* affiche les mots en ligne */
    padding-inline: 70px; /* distance des mots en ligne */
}
    a{color :darkblue; 
    text-decoration :underline; /* enlève le soulignement */

} 
