h1{ color: crimson; text-align: center; 
    margin: 0%;
    text-shadow: 3px 3px 1px black ;
    color: #00539f;
    padding:20px 0; }

p{color: black;text-align: justify;}

h3{text-align: center;color: chocolate;}

a{color: rgb(171, 148, 15);}

h2{color: aqua;}

ul{text-align: justify;color: chartreuse;}

body{background-color: white;}

img{display: block;
    margin:auto ;}
    ul>li{text-align: left;}

    ol{color: blueviolet;}
/* les gens malheureuses /*
.jackpot{color: rgb(118, 101, 36);
font-family: 'Trebuchet MS', 'verdana' 'sans-serif';}
/* les images rocambolesques /*
.photo{text-align: justify;
    color: greenyellow;
    font-size: large;
font-family: Arial, Helvetica, sans-serif;}

 p{color: darkslategrey;}