h1{ font-size: 3,5em;
color: #a5b4fc;
font-family: 'Montserrat';
border-width: 5px;
border-color: aqua;
text-align: center;
text-decoration :underline;}

p{font-size: 1,1em;
font-family: 'Manrope';}

h3{text-align: center;color: chocolate; 
    text-decoration: underline;
    font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;}

a{text-decoration: none;
font-size: 1em;
font-family: 'Manrope';}

h2{color: aqua;}

body{background-color: white;}

img{display: block;
    margin:auto ;}

    ul>li{font-size: 1em;
    font-family: 'Manrope';}
        
    
/* les gens malheureux */
.jackpot{color:chocolate;
font-family: 'Trebuchet MS', 'verdana' 'sans-serif';}
/* les images rocambolesques */
.photo{text-align: justify;
    color: greenyellow;
    font-size: large;
font-family: verdana;}

 h4{font-family: 'Montserra''sans serif';
    text-decoration: underline;
}